:root {
    --green: #79B75D;
    --light-green: #B3C280;
    --blue: #A4D2FF;
    --nearly-black: #182124;
    --yellow: #F9E28C;
}

.joiningPlayers {
    padding: 2em;
    border: 3px solid black;
}

.startGameBtn {
    padding: 4em;
    background-color: var(--yellow);
    color: var(--nearly-black);
}