:root {
    --green: #79B75D;
    --light-green: #B3C280;
    --blue: #A4D2FF;
    --nearly-black: #182124;
    --yellow: #F9E28C;
}

.gameChat {
    background: white;
    font-family: "Open Sans", sans-serif;
    width: 50vh;
    height: auto;
    min-height: fit-content;
    padding: 2%;
    margin: 1%;
    border: 5px solid var(--yellow);
    border-radius: 30px;
    display: flex;
    justify-content: center;
  }
  
  .newGameContainer {
    display: flex;
    display: block;
    text-align: center;
  }
  
  .newGameContainer h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .newGameContainer input {
    width: 45%;
    height: 45%;
    margin: 1.8%;
    border: 2px solid var(--green);
    border-radius: 5px;
    padding: 1%;
    font-size: 100%;
  }
  
  .newGameContainer button {
    width: 45%;
    height: 45%;
    margin: 2%;
    border: none;
    border-radius: 5px;
    padding: 2%;
    font-size: 125%;
    font-weight: bold;
    background: var(--blue);
    color: #fff;
    cursor: pointer;
  }
  
  .newGameContainer button:hover {
    background: var(--nearly-black);
  }