:root {
    --primary: #79b75d;
    --secondary: #B3C280;
    --tertiary: #F9E28C;
    --accent: #A4D2FF;
    --dark: #182124 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
}

header {
    background-color: var(--secondary);
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    padding: 10px;
    color: var(--dark);
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav a {
    padding: 10px;
}

.page {
    display: flex;
    flex-direction: column;
}

.subpage {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid var(--tertiary);
    padding: 1%;
    margin: 2%;
}

.userbar {
    display: flex;
    align-items: center;
    border: 3px solid var(--tertiary);
    padding: 5px;
}

.userbar img {
    border-radius: 100%;
    padding: 10px;
}

.home,
.lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
    margin: 10px 0;
}

.chat {
    margin: 10px;
    padding: 10px;
    border: 3px solid var(--dark);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
}

li {
    list-style-type: none;
    padding-left: 10px;
}

.msg {
    font-size: 150%;
    padding: 5px;
    margin: 10px 0;
}

.sent {
    background-color: var(--tertiary);
    align-self: flex-end;
}

.received {
    background-color: var(--accent);
    align-self: flex-start;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-top {
    display: flex;
    align-items: center;
}

.profile-top img {
    border-radius: 50%;
}

.profile-top div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
}

.profile-top + p {
    margin: 10px 0;
    font-size: 120%;
}

/* Rules indenting stuff */
h4 {
    padding-left: 10px;
}

h5 {
    padding-left: 20px;
}

h3 + p {
    padding-left: 10px;
}

h4 + p {
    padding-left: 20px;
}

h5 +p {
    padding-left: 30px;
}