:root {
    --primary: #79b75d;
    --secondary: #B3C280;
    --tertiary: #F9E28C;
    --accent: #A4D2FF;
    --dark: #182124; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary);
}


.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found img {
    width: 300px;
}

/*
.page {
    display: flex;
    flex-direction: column;
}

.subpage {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid var(--tertiary);
    padding: 1%;
    margin: 2%;
}

.userbar {
    display: flex;
    align-items: center;
    border: 3px solid var(--tertiary);
    padding: 5px;
}

.userbar img {
    border-radius: 100%;
    padding: 10px;
}

.lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.chat {
    margin: 10px;
    padding: 10px;
    border: 3px solid var(--dark);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
}


.msg {
    font-size: 150%;
    padding: 5px;
    margin: 10px 0;
}

.sent {
    background-color: var(--tertiary);
    align-self: flex-end;
}

.received {
    background-color: var(--accent);
    align-self: flex-start;
}
*/




/* GAME STYLING */  
* {
    box-sizing: border-box;
}

.game {
    display: inline-block;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.tile {
    width: 50px;
    height: 50px;
    background-color: grey;
    margin: 5px;
    border: 50px solid grey;
}

.start {
    border-top: 50px solid crimson;
    border-right: 50px solid crimson;
    border-bottom: 50px solid navy;
    border-left: 50px solid navy;
}

.valid{
    background-color: white;
    border: 5px dashed grey;
    width: 100px;
    height: 100px;
}

/* HAMBURGER MENU STYLING */
/* Position and sizing of burger button */ 
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */ 
.bm-burger-bars {
background: #373a47;
}

/* Color/shape of burger icon bars on hover*/  
.bm-burger-bars-hover {
background: #a90000;
}

/* Position and sizing of clickable cross button */  
.bm-cross-button {
height: 24px;
width: 24px;
}

/* Color/shape of close button cross */  
.bm-cross {
background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/  
.bm-menu-wrap {
position: fixed;
height: 100%;
}

/* General sidebar styles */  
.bm-menu {
background: #373a47;
padding: 2.5em 1.5em 0;
font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */  
.bm-morph-shape {
fill: #373a47;
}

/* Wrapper for item list */ 
.bm-item-list {
color: #b8b7ad;
padding: 0.8em;
}

/* Individual item */ 
.bm-item {
display: inline-block;
}

/* Styling of overlay */ 
.bm-overlay {
background: rgba(0, 0, 0, 0.3);
}
