:root {
    --green: #79B75D;
    --light-green: #B3C280;
    --blue: #A4D2FF;
    --nearly-black: #182124;
    --yellow: #F9E28C;
}

.chat-window p {
    margin: 0;
}

.chat-body {
    height: calc(450px - (45px + 70px));
    position: relative;
}
  
.message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
  
.message-container::-webkit-scrollbar {
    display: none;
}

.message {
    height: auto;
    padding: 1%;
    display: flex;
    margin: 1%;
}
  
/*
  .chat-window .chat-body .message .message-content {
    width: auto;
    height: auto;
    min-height: 40px;
    max-width: 120px;
    background-color: var(--blue);
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  */
  
.message-content {
    position: relative;
    font-size: 100%;
    width: auto;
    height: auto;
    min-width: 3em;
    min-height: 2em;
    line-height: auto;
    background-color: var(--nearly-black);
    border-radius: 25px;
    text-align: center;
    color: #fff;
    padding-left: 2%;
    padding-right: 2%;
    margin: 2%;
    overflow-wrap: normal;
    word-break: normal;
}

.message-content p {
    padding: .8em;
}

#you {
    justify-content: flex-end;
}
  
  
#you .message-bubble::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-right: 0.75em solid var(--nearly-black);
    border-left: 0.25em solid transparent;
    border-top: 0.25em solid var(--nearly-black);
    border-bottom: 0.5em solid transparent;
    right: 0.5em;
    bottom: -0.25em;
}
  
  
#other {
    justify-content: flex-start;
}
  
#other .message-content {
    background-color: white;
    color: black;
}

    
#other .message-bubble::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 0.75em solid #fff;
    border-right: 0.25em solid transparent;
    border-top: 0.25em solid #fff;
    border-bottom: 0.5em solid transparent;
    left: 0.5em;
    bottom: -0.25em;
}
  
.message-meta {
    margin-left: 10px;
    font-weight: bold;
    justify-content: flex-start;
    font-size: 75%;
}

  
.chat-footer {
    height: 40px;
    width: 100%;
    border: 1px solid var(--nearly-black);
    display: flex;
}
  
.chat-footer input {
    height: 100%;
    flex: 85%;
    border: 0;
    padding: 0 0.7em;
    font-size: 1em;
    border-right: 1px dotted #607d8b;
    outline: none;
    font-family: "Open Sans", sans-serif;
}
  
.chat-footer button {
    border: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex: 15%;
    height: 100%;
    background: var(--blue);
    outline: none;
    font-size: 25px;
    color: lightgray;
}
  
.chat-footer button:hover {
    color: var(--blue);
    background-color: var(--nearly-black);
}

.hide {
    opacity: 0 !important;
}
  