:root {
    --primary: #79b75d;
    --secondary: #B3C280;
    --tertiary: #F9E28C;
    --accent: #A4D2FF;
    --dark: #182124; 
    --blueberry: #2F71B8;
}

.chat {
    position: relative;
    background-color: rgb(24, 33, 36, .8);
    display: flex;
    flex-direction: column;
    max-width: 33%;
    min-height: 50vh;
    max-height: 30em;
    margin: 2%;
    padding: 1%;
}

.chat-body {
    position: relative;
    flex: 1;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
  
.message-container {
    width: 100%;
    height: 100%;
}
  
.message {
    height: auto;
    padding: 1%;
    display: flex;
    align-items: flex-start;
    width: 100%;
}
  
.message-content {
    position: relative;
    font-size: 100%;
    width: auto;
    height: auto;
    min-width: 3em;
    min-height: 2em;
    line-height: auto;
    background-color: var(--accent);
    border-radius: 25px;
    text-align: center;
    color: white;
    margin: 1%;
}
  
.message-content p {
    padding: 0.8em;
}
  
#you {
    justify-content: flex-end;
    align-self: flex-end;
}

#you .message-content {
    background-image: linear-gradient(142deg, rgba(131,174,222,1) 20%, rgba(164,210,255,1) 73%);
}
  
#you .message-content::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-right: 0.75em solid var(--accent);
    border-left: 0.25em solid transparent;
    border-top: 0.25em solid var(--accent);
    border-bottom: 0.5em solid transparent;
    right: 0.5em;
    bottom: -0.25em;
}
  
#other {
    align-self: flex-start;
    justify-content: flex-start;
}
  
#other .message-content {
    background-color: white;
    color: black;
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 21%, rgba(231,232,235,1) 76%);
}
  
#other .message-content::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 0.75em solid white;
    border-right: 0.25em solid transparent;
    border-top: 0.25em solid white;
    border-bottom: 0.5em solid transparent;
    left: 0.5em;
    bottom: -0.25em;
}
  
.author {
    color: white;
    font-weight: bold;
    justify-content: flex-start;
    font-size: 75%;
}
  
.chat-footer {
    margin-top: auto;
    height: 2.5rem;
    width: 100%;
    border: 1px solid var(--dark);
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
  
.chat-footer input {
    flex: 1;
    height: 100%;
    flex: 85%;
    border-radius: 50px;
    border: none;
    padding: 0 0.7em;
    font-size: 1em;
    outline: none;
}
  
.chat-footer button {
    border-radius: 50px;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex: 15%;
    height: 100%;
    background: var(--accent);
    background-image: linear-gradient(0deg, rgba(137,199,96,1) 30%, rgba(118,175,92,1) 100%);
    outline: none;
    font-size: 25px;
    color: white;
}
  
.chat-footer button:hover {
    color: var(--accent);
    background-color: var(--dark);
}
