:root {
    --primary: #79b75d;
    --secondary: #B3C280;
    --tertiary: #F9E28C;
    --accent: #A4D2FF;
    --dark: #182124; 
}


header {
    background-image: linear-gradient(to bottom left, var(--primary), var(--secondary) );
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cropposition-title {
    background-color: transparent;
    font-size: 250%;
    color: var(--tertiary);
    margin: 1%;
    font-weight: 900;
    text-shadow: 1.5px 1.5px 3.5px var(--accent);
}

.nav {
    background-color: transparent;
}

.nav-item,
.login {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    background-color: transparent;
}

.nav-item a {
    color: white;
    text-shadow: 0 1px 2px var(--tertiary);
    font-weight: 500;
}

.nav-item a:hover,
.login a:hover {
    color: var(--accent);
    text-shadow: none
}

.login a{
    background-color: transparent;
    text-decoration: none;
    display: flex;
    align-self: center;
    height: 100%;
    color: white;
    text-shadow: 0 1px 2px var(--tertiary);
    font-weight: 500;
}


.burger {
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    min-width: fit-content;
    display: block;
}


.burger .nav-item {
    text-shadow: none;
    width: 100%;
    justify-content: center;
    background-color: white;
}

.burger a {
    color: var(--dark);
    padding: 1rem;
    text-decoration: none;
    display: block;

}

.burger a:hover {
    color: var(--accent);
}