:root {
    --primary: #79b75d;
    --secondary: #B3C280;
    --tertiary: #F9E28C;
    --accent: #A4D2FF;
    --dark: #182124; 
}

.messages h2 {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--accent);
    font-weight: 600;
    margin: 1%;
    font-size: 200%;
    text-shadow: .5px .5px 2px var(--dark);
}