:root {
    --primary: #79b75d;
    --secondary: #B3C280;
    --tertiary: #F9E28C;
    --accent: #A4D2FF;
    --dark: #182124; 
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 5px solid var(--tertiary);
    border-radius: 15px;
    justify-content: center;
    padding: 2%;
    margin: 2%;
}

.dm-top a {
    display: flex;
}

.messages h2 {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--accent);
    font-weight: 600;
    margin: 1%;
    font-size: 200%;
    text-shadow: .5px .5px 2px var(--dark);
}

.chat {
    position: relative;
    background-color: rgb(24, 33, 36, .8);
    border: 3px solid var(--dark);
    border-radius: 10px;
    flex-direction: column;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.msg-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

.message-content {
    position: relative;
    font-size: 100%;
    width: 80%;
    height: auto;
    min-width: 3em;
    min-height: 2em;
    line-height: auto;
    background-color: var(--accent);
    border-radius: 25px;
    text-align: center;
    color: white;
    margin: 1rem;
}

.message-content p {
    padding: .8rem;
}

.sent {
    justify-content: flex-end;
    align-self: flex-end;
}

.sent .message-content {
    background-image: linear-gradient(142deg, rgba(131,174,222,1) 20%, rgba(164,210,255,1) 73%);
}

.sent .message-content::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-right: 0.75em solid var(--accent);
    border-left: 0.25em solid transparent;
    border-top: 0.25em solid var(--accent);
    border-bottom: 0.5em solid transparent;
    right: 0.5em;
    bottom: -0.25em;
}

.received {
    align-self: flex-start;
    justify-content: flex-start;
}

.received .message-content {
    background-color: white;
    color: black;
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 21%, rgba(231,232,235,1) 76%);
}

.received .message-content::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 0.75em solid white;
    border-right: 0.25em solid transparent;
    border-top: 0.25em solid white;
    border-bottom: 0.5em solid transparent;
    left: 0.5em;
    bottom: -0.25em;
}

.send-msg {
    margin-top: auto;
    height: 2.5rem;
    width: 100%;
    border: 1px solid var(--dark);
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.send-msg input {
    flex: 1;
    height: 100%;
    flex: 85%;
    border-radius: 50px;
    border: none;
    padding: 0 0.7em;
    font-size: 1em;
    outline: none;
}

.send-msg button {
    border-radius: 50px;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex: 15%;
    height: 100%;
    background: var(--accent);
    background-image: linear-gradient(0deg, rgba(137,199,96,1) 30%, rgba(118,175,92,1) 100%);
    outline: none;
    font-size: 25px;
    color: white;
}

.send-msg button:hover {
    color: var(--accent);
    background-color: var(--dark);
}


@media (min-width: 768px) {
    .send-msg input {
        width: 30rem;
    }
}